.makeOpaque {
    opacity: 0.95;
}

.upperCushion {
    margin-top: 10px;
}

html {
    overflow-x: hidden;
}

.bottomCushion {
	padding-bottom: 25px;
}

.carImg {
	height: 100%;
	width: 100%;
	max-height: 500px;
}

.spacer {
	height: 30px;
}

.logo {
	height: 100px;
	margin-bottom: 25px;
	margin-top: 5px;
}

.logoCenter {
	height: 100px;
}

#success_message { 
	display: none;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}