.makeOpaque {
    opacity: 0.95;
}

.upperCushion {
    margin-top: 10px;
}

html {
    overflow-x: hidden;
}

.carousel {
	height: 500px;
}

.carImg {
	height: 100%;
}

.spacer {
	height: 30px;
}

.logo {
	height: 65px;
}