.makeOpaque {
    opacity: 0.95;
}

.upperCushion {
    margin-top: 10px;
}

html {
    overflow-x: hidden;
}

.bottomCushion {
	padding-bottom: 25px;
}

.carImg {
	height: 100%;
	width: 100%;
	max-height: 500px;
}

.spacer {
	height: 30px;
}

.spacerSmall {
	height: 15px;
}

.logo {
	height: 150px;
	margin-top: 5px;
}

.footer-logo {
	height: 75px;
	margin-bottom: 25px;
	margin-top: 5px;
}

.logoCenter {
	margin-top: 5px;
	height: 100px;
}

#success_message { 
	display: none;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 135px;
  background-color: black;
}

.fb-like {
	width: 300px;
}

.navbar-default {
	background-color: white;
}

::-webkit-scrollbar {
   	width: 0px;
}

.noUpperPadding {
	padding-top: 0px;
}

.contactFormTitle {
	margin-top: 0px;
	margin-bottom: 15px;
}

.footerText {
	color: #e0e0e0;
}